.pokemon-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-image {
    width: 100%;
    height: auto;
}

.pokemon-info {
    padding: 10px;
}

.pokemon-id {
    color: #666;
    font-size: 12px;
    margin: 0;
}

.pokemon-name {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.pokemon-type {
    padding: 5px 10px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
}

.pokemon-type.grass {
    background-color: #78C850;
}

.pokemon-type.poison {
    background-color: #A040A0;
}

.pokemon-type.fire {
    background-color: #F08030;
}

.pokemon-type.water {
    background-color: #6890F0;
}

.pokemon-type.bug {
    background-color: #A8B820;
}

.pokemon-type.flying {
    background-color: #A890F0;
}


.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}